[submodule "malware_test"]
	path = malware_test
	url = https://github.com/33onethird/malware-test
[submodule "Submod"]
	url = https://github.com/33onethird/malware-test
[submodule "amalware_test"]
	url = https://github.com/33onethird/malware-test
