<!DOCTYPE html>
<head>
    <title>33 one third</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
  <section class="section">
      <div class="container">
          <div class="notification is-warning">
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          </div>
      </div>
  </div>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
<footer class="footer is-small">
  <div class="container">
    <div class="content has-text-left">
      <p>
        <strong>33 &#8531;</strong> project. <a href="https://github.com/33onethird">Source code</a>.
      </p>
    </div>
  </div>
</footer>
</body>
