<!DOCTYPE html>
<head>
    <title>33 one third</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
    <script>
        var file = document.getElementById('file');
        file.onchange = function() {
            if (file.files.length > 0) {
              document.getElementById('file-name').innerHTML = file.files[0].name;
            }
        };
    </script>
</head>
<body>
  <section class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<a class="navbar-item" href="https://bulma.io">
			<!-- <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28"> -->
		</a>
	</div>
  </section>
  <section>
  <div class="container">
	<h1 class="title is-spaced">
		Malware detection in Android APKs through machine learning
	</h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
  <section class="section">
      <div class="container">
          <div class="notification is-warning">
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          </div>
      </div>
  </section>
  </div>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
<footer class="footer">
  <div class="container">
    <div class="content has-text-left">
      <p>
        <strong>33 &#8531;</strong> project. <a href="https://github.com/33onethird">Source code</a>.
      </p>
    </div>
  </div>
</footer></section>
</body>
